.center {
  text-align: center;
}
.header {
  margin-bottom: 50px;
}
.post .comment {
  margin-bottom: 80px;
}
body {
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 50px;
}
.user {
  margin-top: 40px;
}
.nav {
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.nav a {
  margin-left: 20px;
  padding-inline: 40px;
  padding-block: 10px;
  border-radius: 10px;
  font-weight: 600;
}

.nav a:hover {
  background-color: #9b4dca;
  color: #fff;
}
.center {
  text-align: center;
}
.header {
  margin-bottom: 50px;
  margin-top: 50px;
}
.bold{
  font-weight: 600;
}

#quote{
  font-size: 20px;
  height: 80px;
  align-items: center;
}

.refresh-btn{
  margin-top: 20px;
}
